<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/lib/codemirror.css">
    <link rel='stylesheet' href='/styles.css'> 
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <header>
      <h1><a href='/' class='js-clear'>PRECESS</a></h1>
      <nav>
        <ul>
	  <% if access_token != '' %>
	    <li><a href='/create-gist' class='js-create-gist'>Create Gist</a></li>
	    <li><a href='/logout' class='js-clear'>Log Out <%= user_name %></a></li>
	  <% else %>
	    <li><a href='https://github.com/login/oauth/authorize?redirect_uri=<%= url %>/callback&scope=gist&client_id=<%= client_id %>' class=''>Log in with GitHub</a></li>
	  <% end %>
	</ul>
      </nav>
    </header>
<form method='post' class='sass' action='/compile'>
  <textarea class='js-sass' name='sass'><%= @sass %></textarea>
</form>
<form class='css'>
  <textarea class='js-css' name='sass'><%= @css %></textarea>
</form>
<%= erb :'includes/footer' %>
